@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial;
  background: #f1f1f1;
  margin-bottom: 150px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(87, 181, 235);
}

.header h1 {
  font-size: 50px;
  font-family: "PT Serif", serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
}

.topnav button {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  background-color: rgb(87, 181, 235);
  width: 50px;
  height: 35px;
  font-size: 13px;
  margin-top: 10px;
  font-weight: bolder;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*search bar*/

.topnav input[type="text"] {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.topnav input[type="text"]:focus {
  width: 100%;
}
.contact {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  display: flex;
}
.contact1 {
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
}
.contact1::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
.contact2 {
  margin-left: 7px;
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
}
.contact2::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
.contact3 {
  margin-left: 7px;
  text-transform: lowercase;
  font-family: "Crimson Text", serif;
}
.contact4 {
  margin-left: 7px;
  font-family: "Crimson Text", serif;
}
.contact5 {
  margin-left: 5px;
  font-family: "Crimson Text", serif;
}

/* Footer */
.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(
    255,
    255,
    255,
    0.25
  ); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 100px;
  background-color: #000;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.copy {
  margin-right: 300px;
  color: white;
  font-family: 'Playfair Display', serif;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .topnav button {
    float: none;
    width: 100%;
  }
  .topnav form {
    float: none;
    width: 100%;
  }
  .copy {
    margin-right: 0;
  }
}
